.avatar {
  position:relative;
  width: 250px;
  height:250px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  tranform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}

.carousel-div {
  width: 400px;
  height: 430px;
  overflow: hidden;
  border: 1px solid black;
}

.carousel-div-img {
	/*min-height: 430px;*/
	/*max-height: 430px;*/
	min-width: 200px;
	max-width: 400px;
}

.instructions
{
  width: 45%;
  margin-top: 20px;
  font-weight: bold;
  font-size: larger;
}