<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
</head>
<body ng-app="eventInfo" ng-controller="eventInfoController">
    <script src="event_info.js"></script>
    <div layout="column" layout-align="center center" >
    <md-card layout="column" layout-align="center center" style="width: 500px;height: 500px;">
        <h1>{{event.name}}</h1>
        <h1>{{event.location}}</h1>
        <h1>{{event.date}}</h1>
        <md-card-actions layout="row" layout-align="center center">
            <md-button class="md-raised md-primary" ng-disabled="disableProfileEvaluationButton || profileEvaluationCompleted" ng-click="onClickProfileEvaluation();">Go to Profile Evaluation</md-button>
            <md-button class="md-raised md-primary" ng-disabled="disableProfileEvaluationButton || !profileEvaluationCompleted || messagingEvaluationCompleted" ng-click="onClickMessagingEvaluation();">Go to Messaging Evaluation</md-button>
        </md-card-actions>
    </md-card>
    </div>
</body>
</html>