.avatar {
  position:relative;
  width: 350px;
  height:350px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  tranform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}

.carousel-div {
  width: 500px;
  height: 500px;
  overflow: hidden;
  border: 1px solid black;
}

.carousel-div-img {
    width: 100%;
    min-height: 100%;
}