<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
</head>
<body ng-app="home" ng-controller="homeController" ng-init="erosBaseUrl='http://69.164.208.35:17320/eros/v1'" ng-cloak>
	<script src="home.js"></script>
	<div>
		<table cellspacing="0" role="presentation" id="sign_in_section">
			<tbody>
				<tr>
					<td><label for="email">Email</label></td>
					<td><label for="pass">Password</label></td>
				</tr>
				<tr>
					<td><input type="email" class="inputtext" ng-model="email"
						name="email" tabindex="1"></td>
					<td><input type="password" class="inputtext" ng-model="pwd"
						name="pass" tabindex="2"></td>
					<td><input value="Log In" tabindex="4" type="submit"
						ng-click="onSignIn();"></td>
				</tr>
			</tbody>
		</table>

		<form id="sign_up_section">
			<h1>Sign Up</h1>
			Name<br> <input type="text" ng-model="name">
			<br>Email<br><input type="email" ng-model="emailForSignUp"> 
			<br>Password<br><input type="password" ng-model="pwdForSignUp"> 
			<br><input type="radio" name="gender" value="MALE"  ng-model="gender" />
			Male<br> <input type="radio" name="gender" ng-model="gender"  value="FEMALE" /> 
			Female<br> 
			<md-button type="submit" class="md-raised md-primary" ng-click="onSignUp();">Create Account</md-button>
		</form>
	</div>

</body>
</html>