<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="profile.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="jk-carousel.min.css" />
  <script src="jk-carousel.min.js"></script>
</head>
<body ng-app="profile" ng-controller="profileController" ng-init="erosBaseUrl='http://localhost:17320/eros/v1'">
	<script src="profile.js"></script>
	
	<div layout-gt-sm="row">
		<div layout-gt-sm="column">
			<h3>{{name}}</h3>
			<img src="{{profileImage}}" class="avatar">
		</div>
		<div layout="column" layout-align="center center">
			<md-card layout="column" layout-align="center center">
			     <jk-carousel data="imageSrcs" ci="curImgIndex" item-template-url="'item-template.html'" max-width="500" max-height="300"> 
			     </jk-carousel> 
			</md-card>
			<div layout-gt-sm="row">
			    <input class="ng-hide" id="fileInput"  name="file" type="file" fileread="file" />
				<md-button class="md-icon-button" aria-label="icon" ng-click="onAddImage();"> 
				    <md-icon class="material-icons">add_circle</md-icon> 
				</md-button>
				<md-button class="md-icon-button" aria-label="icon" ng-click="onRemoveImage();"> 
				    <md-icon class="material-icons">remove_circle</md-icon> 
				</md-button>
				 
			</div>
		</div>
	</div>

	<md-button class="md-raised md-primary"
		ng-disabled="{{disableContinueButton}}" ng-click="onContinue();">Go to event</md-button>
</body>
</html>